.so-widget-sow-social-media-buttons-atom-2e9990db732c .social-media-button-container {
  zoom: 1;
  text-align: left;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-facebook {
  color: #ffffff !important;
  background: #3a5795;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#2c4270),color-stop(1,#3a5795));
  background: -ms-linear-gradient(bottom,#2c4270,#3a5795);
  background: -moz-linear-gradient(center bottom,#2c4270 0%,#3a5795 100%);
  background: -o-linear-gradient(#3a5795,#2c4270);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5795', endColorstr='#2c4270', GradientType=0);
  border: 1px solid;
  border-color: #273b65 #25375e #203053 #25375e;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #3d5b9c;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#2f4678),color-stop(1,#3d5b9c));
  background: -ms-linear-gradient(bottom,#2f4678,#3d5b9c);
  background: -moz-linear-gradient(center bottom,#2f4678 0%,#3d5b9c 100%);
  background: -o-linear-gradient(#3d5b9c,#2f4678);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d5b9c', endColorstr='#2f4678', GradientType=0);
  border-color: #2a3f6d #273b65 #23355a #273b65;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-google-plus {
  color: #ffffff !important;
  background: #dd4b39;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#c23321),color-stop(1,#dd4b39));
  background: -ms-linear-gradient(bottom,#c23321,#dd4b39);
  background: -moz-linear-gradient(center bottom,#c23321 0%,#dd4b39 100%);
  background: -o-linear-gradient(#dd4b39,#c23321);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c23321', GradientType=0);
  border: 1px solid;
  border-color: #b52f1f #ac2d1e #9f2a1b #ac2d1e;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-google-plus:visited,
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-google-plus:active,
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-google-plus:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button-google-plus.ow-button-hover:hover {
  background: #de5342;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ca3523),color-stop(1,#de5342));
  background: -ms-linear-gradient(bottom,#ca3523,#de5342);
  background: -moz-linear-gradient(center bottom,#ca3523 0%,#de5342 100%);
  background: -o-linear-gradient(#de5342,#ca3523);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de5342', endColorstr='#ca3523', GradientType=0);
  border-color: #bd3221 #b52f1f #a82c1d #b52f1f;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button {
  font-size: 1em;
  padding: 1em 1em;
  margin: 0.1em 0.1em 0.1em 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-atom-2e9990db732c .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}